.skillsBlock {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 330px;
	overflow: hidden;

	.skillsContainer {
		display: flex;
		flex-direction: column;
		position: relative;

		.skillsHeader {
			padding: 0 0 10px 0;
			font-size: 73px;
			line-height: 1.3;
			color: transparent;
			font-family: var(--fontM);
			font-weight: 900;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			-webkit-text-stroke: 3px var(--colorMD);
		}
		.stepsHeader {
			font-size: 28px;
			line-height: 1;
			color: var(--colorMD);
			font-family: var(--fontM);
			font-weight: 500;
			margin-bottom: 67px;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
		}
		.skillsText {
			font-size: 17px;
			line-height: 1.3;
			color: var(--colorM);
			font-family: var(--fontM);
			font-weight: 400;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			padding: 0 0 40px 0;
			width: 230px;
		}
	}
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
	.skillsBlock {
		width: 230px;
		.skillsContainer {
			.skillsText {
				width: 180px;
			}
		}
	}
}
@media (max-width: 767px) {
	.skillsBlock {
		width: 230px;
		.skillsContainer {
			margin: 0 0 40px 0;
			.stepsHeader {
				margin: 0 0 20px 0;
			}
			.skillsText {
				padding: 0 0 0 0;
			}
		}
	}
}
@media (max-width: 575px) {
	.skillsBlock {
		align-self: center;
		justify-content: center;
		align-items: center;
		.skillsContainer {
			.skillsHeader {
				font-size: 45px;
			}
			.skillsText {
				font-size: 11px;
			}
		}
	}
}
@media (max-width: 319px) {
	.skillsBlock {
		.skillsContainer {
			.skillsText {
				width: 150px;
			}
		}
	}
}
