@mixin fontsStyle {
	font-weight: 400;
	font-family: var(--fontM);
	color: var(--colorMD);
	font-size: 17px;
	line-height: 1.3;
	padding: 0 5% 0 5%;
}

.header {
	display: flex;
	position: fixed;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	z-index: 10;
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgb(27 27 27 / 72%); //цвет хэдэра
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	.contentWrapper {
		display: flex;
		width: 100%;
		justify-content: center;

		.content {
			display: grid;
			grid-template-columns: [start] 210px [logoEnd] auto [telStart] 210px [end];
			align-items: center;
			max-width: 1780px;
			width: 100%;

			.logo {
				display: flex;
				grid-column: start/logoEnd;
				flex-direction: column;
				position: relative;
				@include fontsStyle();
				.logoText1 {
					user-select: none;
				}
				.logoText2 {
					user-select: none;
				}
			}
			.linkContainer {
				display: flex;
				grid-column: telStart/end;
				justify-content: flex-end;
				@include fontsStyle();
				.link {
					text-decoration: none;
					user-select: none;
				}
			}
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
	.header {
		.contentWrapper {
			.content {
				.logo {
					font-size: 11px;
				}
				.linkContainer {
					font-size: 11px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
	.header {
		.contentWrapper {
			.content {
				grid-template-columns: [start] 110px [logoEnd] auto [middle] 110px [end];

				.logo {
					font-size: 11px;
				}
				.linkContainer {
					grid-column: middle/end;
					font-size: 11px;
				}
			}
		}
	}
}
