.section8 {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;

	.sectionHeader {
		margin-bottom: 100px;
		align-self: center;
	}
	.cards {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		justify-items: stretch;
		row-gap: 50px;

		.cardContainer1 {
			display: grid;
			position: relative;
			grid-template-columns: [start] 1fr [middle] 2fr [end];
			gap: 20px;
			.imageContainer {
				grid-column: start/middle;
				justify-self: center;
				.square {
					width: 370px;
					height: 340px;
					background-color: #e2edff;
					border-radius: 20px;
				}
			}
			.phaseCard {
				grid-column: middle/end;
				margin-left: 20px;
			}
		}
		.cardContainer2 {
			display: grid;
			position: relative;
			grid-template-columns: [start] 2fr [middle] 1fr [end];
			gap: 20px;

			.imageContainer {
				grid-column: middle/end;
				justify-self: center;
				order: 2;

				.square {
					width: 370px;
					height: 340px;
					background-color: #e2edff;
					border-radius: 20px;
				}
			}
			.phaseCard {
				grid-column: start/middle;
				margin-left: 20px;
				order: 1;
			}
		}
		.cardContainer3 {
			display: grid;
			position: relative;
			grid-template-columns: [start] 1fr [middle] 2fr [end];
			gap: 20px;

			.imageContainer {
				grid-column: start/middle;
				justify-self: center;
				.square {
					width: 370px;
					height: 340px;
					background-color: #e2edff;
					border-radius: 20px;
				}
			}
			.phaseCard {
				grid-column: middle/end;
				margin-left: 20px;
			}
		}
		.cardContainer4 {
			display: grid;
			position: relative;
			grid-template-columns: [start] 2fr [middle] 1fr [end];
			gap: 20px;

			.imageContainer {
				grid-column: middle/end;
				justify-self: center;
				order: 2;

				.square {
					width: 370px;
					height: 340px;
					background-color: #e2edff;
					border-radius: 20px;
				}
			}
			.phaseCard {
				grid-column: start/middle;
				margin-left: 20px;
				order: 1;
			}
		}
	}
}

@media (max-width: 1199px) {
	.section8 {
		.sectionHeader {
		}
		.cards {
			.cardContainer1 {
				.imageContainer {
					.square {
					}
				}
				.phaseCard {
				}
			}
			.cardContainer2 {
				.imageContainer {
					.square {
					}
				}
				.phaseCard {
				}
			}
			.cardContainer3 {
				.imageContainer {
					.square {
					}
				}
				.phaseCard {
				}
			}
			.cardContainer4 {
				.imageContainer {
					.square {
					}
				}
				.phaseCard {
				}
			}
		}
	}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
	.section8 {
		.sectionHeader {
		}
		.cards {
			gap: 20px;
			.cardContainer1 {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				gap: 20px;

				.imageContainer {
					grid-column: 1/2;
					grid-row: 1/2;

					.square {
						width: 270px;
						height: 240px;
					}
				}
				.phaseCard {
					grid-column: 1/2;
					grid-row: 2/3;
				}
			}
			.cardContainer2 {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				gap: 20px;

				.imageContainer {
					grid-column: 1/2;
					grid-row: 1/2;

					order: 1;
					.square {
						width: 270px;
						height: 240px;
					}
				}
				.phaseCard {
					grid-column: 1/2;
					grid-row: 2/3;
					order: 2;
				}
			}
			.cardContainer3 {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				gap: 20px;

				.imageContainer {
					grid-column: 1/2;
					grid-row: 1/2;

					.square {
						width: 270px;
						height: 240px;
					}
				}
				.phaseCard {
					grid-column: 1/2;
					grid-row: 2/3;
				}
			}
			.cardContainer4 {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(2, auto);
				gap: 20px;

				.imageContainer {
					grid-column: 1/2;
					grid-row: 1/2;

					order: 1;
					.square {
						width: 270px;
						height: 240px;
					}
				}
				.phaseCard {
					grid-column: 1/2;
					grid-row: 2/3;
					order: 2;
				}
			}
		}
	}
}
@media (max-width: 575px) {
}
@media (max-width: 319px) {
}
