.section5 {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;

	.sectionHeader {
		margin-bottom: 100px;
	}

	.contentContainer {
		display: grid;
		grid-template-columns: [start] 50% [middle] 50% [end];
		width: 100%;

		.textContainer {
			grid-column: start/middle;
			font-size: 17px;
			line-height: 1.3;
			font-family: var(--fontM);
			font-weight: 500;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			z-index: 1;
			width: 350px;

			.quote {
				font-size: 144px;
				font-weight: 900;
				margin-bottom: 10px;
			}
			.text {
				margin: 0 0 40px 0;
			}
			.author {
				font-weight: 700;
			}
			.director {
				color: var(--colorMD);
			}
		}
		.imageContainer {
			grid-column: middle/end;
			display: flex;
			justify-self: flex-end;
			position: relative;
			.circle {
				position: absolute;
				top: 140px;
				right: 0;
				width: 530px;
				height: 530px;
				border-radius: 50%;
				background-color: var(--colorC);
			}
		}
	}
}

@media (max-width: 1199px) {
	.section5 {
		.contentContainer {
			.imageContainer {
				.circle {
					width: 430px;
					height: 430px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.section5 {
		.contentContainer {
			.imageContainer {
				.circle {
					width: 330px;
					height: 330px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.section5 {
		.contentContainer {
			.textContainer {
				width: 400px;

				.author {
					width: 400px;
				}
				.director {
					width: 400px;
				}
			}
			.imageContainer {
				.circle {
					width: 530px;
					height: 530px;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.section5 {
		.contentContainer {
			.textContainer {
				width: 240px;
				.text {
					width: 240px;
					font-size: 11px;
					margin: 0 0 10px 0;
				}
				.author {
					width: 240px;
					font-size: 11px;
				}
				.director {
					width: 240px;
					font-size: 11px;
				}
			}
			.imageContainer {
				.circle {
					width: 330px;
					height: 330px;
				}
			}
		}
	}
}
@media (max-width: 319px) {
	.section5 {
		.contentContainer {
			.textContainer {
				width: 200px;
				.text {
					width: 200px;
				}
				.author {
					width: 200px;
				}
				.director {
					width: 200px;
				}
			}
			.imageContainer {
				.circle {
					width: 330px;
					height: 330px;
				}
			}
		}
	}
}
