.wrapper {
	display: flex;
	position: relative;
	flex-direction: column;

	.buttonContainer {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: flex-start;
		cursor: pointer;

		.playerContainer {
			display: flex;
			position: relative;
			flex-direction: column;
			align-items: center;
			background-color: transparent;
			border-radius: 10px;
			width: 100%;
			height: 100%;
			.containerButton {
				--radius: 30px;
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				border: none;
				border-radius: 50%;
				font-size: 20px;
				width: var(--radius);
				height: var(--radius);
				background-color: var(--colorM);
				svg {
					margin-left: 2px;
					border: none;
					color: var(--colorM);
					path {
						fill: var(--colorM);
					}
				}
			}
		}
	}

	.modalContainer {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: flex-start;

		.modal {
			display: flex;
			position: relative;
			flex-direction: column;
			align-items: center;
			background-color: var(--colorC);
			border-radius: 15px;
			width: 100%;
			height: 100%;
			padding: 15px 25px 15px 25px;
			.player {
				margin-top: 15px;
			}
			.modalButton {
				--radius: 30px;
				display: flex;
				position: absolute;
				right: 0;
				top: 0;
				justify-content: center;
				align-items: center;
				border: none;
				border-radius: 50%;
				font-size: 24px;
				width: var(--radius);
				height: var(--radius);
				background-color: transparent;
				cursor: pointer;
				svg {
					border: none;
					path {
						color: var(--colorBg);
					}
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.wrapper{
		.modalContainer {
			.modal {
				padding: 10px 20px 10px 20px;
			}
		}
	}		
}
@media (max-width: 319px) {
	
}