.section7 {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;

	.sectionHeader {
		margin-bottom: 154px;
		align-self: center;
	}
	.cardContainer {
		display: grid;
		position: relative;
		grid-template-columns: [start] 1fr [midStart] 1fr [lastStart] 1fr [end];
		margin-bottom: 186px;		

		div:nth-child(1) {
			justify-self: start;
		}
		div:nth-child(2) {
			justify-self: center;
		}
		div:nth-child(3) {
			justify-self: end;
		}
	}

	.textButtonContainer {
		display: grid;
		position: relative;
		grid-template-columns: [start] 1fr [midStart] 1fr [lastStart] 1fr [end];

			
		.textContainer {
			font-size: 17px;
			align-self: center;
			grid-column: start/midStart;
			font-weight: 500;
			font-family: var(--fontM);
			line-height: 1.3;
			width: 280px;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			justify-content: center;

		}
		.buttonContainer {
			grid-column: midStart/lastStart;
			justify-self: start;
			align-self: center;

		}
	}
}

@media (max-width: 1199px) {
	.section7 {
		.textButtonContainer {
			.textContainer {
				width: 250px;
			}
			.buttonContainer {
				justify-self: start;
				margin: 0 0 0 15px; 
			}
		}		
	}
}
@media (max-width: 991px) {
	.section7 {
		.textButtonContainer {
			.buttonContainer {
				justify-self: center;
				margin: 0; 
			}
		}		
	}
}
@media (max-width: 767px) {
	.section7 {
		.cardContainer {
			display: flex;
			position: relative;
			flex-direction: column;
			width: 400px;
			align-self: center;			
			justify-content: center;
			align-items: center;
			
		}
		.textButtonContainer {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.textContainer {
				margin: 0 0 40px;
				text-align: start;
				margin: 0 0 20px 20px;
			}
			.buttonContainer {
				margin: 0 0 0 -10px;
			}
			
		}		
	}
}
@media (max-width: 575px) {
	.section7 {
		.cardContainer {
			display: flex;
			position: relative;
			flex-direction: column;
			width: 400px;
			align-self: center;			
			justify-content: center;
			align-items: center;
			
		}
		.textButtonContainer {
			display: flex;
			position: relative;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			.textContainer {
				font-size: 11px;
				margin: 0 0 20px 0;
				text-align: center;
			}			
		}		
	}
}
@media (max-width: 319px) {
	.section7 {
		.textButtonContainer {
			.textContainer {
				margin: 0 0 20px 0;				
			}
		}
	}
}
