@mixin track {
	height: 5px;
	background-image: linear-gradient(
		90deg,
		var(--colorBg) var(--audioPercent),
		var(--colorMD) var(--audioPercent)
	);
	border-radius: 5px;
}

@mixin volume {
	height: 5px;
	background-image: linear-gradient(
		90deg,
		var(--colorM) var(--volPercent),
		var(--colorMD) var(--volPercent)
	);
	border-radius: 5px;
}

@mixin progressBar {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;

	appearance: none;
	width: 100%;
	background: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.audioPlayer {
	display: flex;
	position: relative;
	flex-direction: column;
	font-family: var(--fontM);
	align-items: center;
	.player {
		display: flex;
		flex-direction: column;

		.tracksContainer {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			.trackItem {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-radius: 8px;
				padding: 10px;
				margin-bottom: 5px;
				color: var(--colorBg);

				.trackIcon {
					--size: 18px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 10px;
					border: 1px solid var(--colorBg);
					border-radius: 50%;
					width: var(--size);
					height: var(--size);
					svg {
						path {
							color: var(--colorBg);
							fill: var(--colorBg);
						}
					}
				}
				.trackSelectButton {
					background: transparent;
					border: none;
					margin-left: 10px;
					color: var(--colorBg);
					svg {
						path {
							color: var(--colorM);
						}
					}
				}
			}
		}
		.playerContainer {
			display: flex;
			flex-direction: row;
			position: relative;
			text-align: center;
			align-items: center;
			justify-content: center;
			background-color: var(--colorM);
			border-radius: 8px;
			padding: 5px 10px;
			color: var(--colorBg);
			margin-bottom: 20px;

			.playButton {
				display: flex;
				justify-content: center;
				align-items: center;
				background: transparent;
				width: 24px;
				height: 35px;
				border-radius: 50%;
				border: none;
				font-size: 24px;
				svg {
					path {
						color: var(--colorBg);
						fill: var(--colorBg);
					}
				}
			}
			.currentTime {
				width: 40px;
				font-size: 11px;
				color: var(--colorBg);
			}
			.durationTime {
				width: 40px;
				font-size: 11px;
				color: var(--colorBg);
			}
			.progressContainer {
				display: flex;
				position: relative;
				overflow: hidden;
				width: 250px;
				align-self: stretch;
			}
			.progressBar {
				--audioPercent: 0px;
				-webkit-appearance: none;
				position: relative;
				@include progressBar;
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
				}
				&:hover::-webkit-slider-thumb {
					-webkit-appearance: none;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					background-color: var(--colorBg);
					margin-top: -2.5px;
				}
				&::-webkit-slider-runnable-track {
					@include track();
					background-image: linear-gradient(
						90deg,
						var(--colorBg) var(--audioPercent),
						var(--colorMD) var(--audioPercent)
					);
				}
				&:hover::-webkit-slider-runnable-track {
					@include track();
				}
			}

			.progressBar {
				--audioPercent: 0px;
				position: relative;
				@include progressBar;

				&::-moz-range-thumb {
					opacity: 0;
					height: 10px;
					width: 10px;
					border: none;
				}
				&:hover::-moz-range-thumb {
					opacity: 1;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					background-color: var(--colorBg);
					margin-top: -2.5px;
					position: relative;
				}
				&::-moz-range-track {
					height: 5px;
					background-color: var(--colorMD);
					border-radius: 5px;
				}
				&::-moz-range-progress {
					height: 5px;
					background-color: var(--colorBg);
					border-radius: 5px;
				}
				&:hover::-moz-range-progress {
					height: 5px;
					background-color: var(--colorBg);
					border-radius: 5px;
				}
			}
			.progressBar {
				--audioPercent: 0px;
				position: relative;
				@include progressBar;

				&::-ms-thumb {
					opacity: 0;
					height: 10px;
					width: 10px;
					border: none;
				}
				&:hover::-ms-thumb {
					opacity: 1;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					background-color: var(--colorBg);
					margin-top: -2.5px;
					position: relative;
				}
				&::-ms-track {
					height: 5px;
					background-color: var(--colorMD);
					border-radius: 5px;
				}
				&::-ms-fill-lower {
					height: 5px;
					background-color: var(--colorBg);
					border-radius: 5px;
				}
				&:hover::-ms-fill-lower {
					height: 5px;
					background-color: var(--colorBg);
					border-radius: 5px;
				}
			}

			// 	.volumeContainer {
			// 		display: flex;
			// 		width: 150px;

			// 		.volumeIcon {
			// 			display: flex;
			// 			justify-content: center;
			// 			align-items: center;
			// 			margin-right: 10px;
			// 			font-size: 24px;
			// 			width: 50px;
			// 			svg {
			// 				path {
			// 					color: var(--colorM);
			// 				}
			// 			}
			// 		}

			// 		.volumeBar {
			// 			--volPercent: 50%;
			// 			-webkit-appearance: none;
			// 			position: relative;
			// 			@include progressBar;

			// 			&::-webkit-slider-thumb {
			// 				-webkit-appearance: none;
			// 			}
			// 			&:hover::-webkit-slider-thumb {
			// 				-webkit-appearance: none;
			// 				height: 10px;
			// 				width: 10px;
			// 				border-radius: 50%;
			// 				background-color: var(--colorM);
			// 				margin-top: -2.5px;
			// 			}
			// 			&::-webkit-slider-runnable-track {
			// 				@include volume;
			// 				background-image: linear-gradient(
			// 					90deg,
			// 					var(--colorM) var(--volPercent),
			// 					var(--colorMD) var(--volPercent)
			// 				);
			// 			}
			// 			&:hover::-webkit-slider-runnable-track {
			// 				@include volume;
			// 			}
			// 		}

			// 		.volumeBar {
			// 			--volPercent: 50%;
			// 			-webkit-appearance: none;
			// 			position: relative;
			// 			@include progressBar;

			// 			&::-moz-range-thumb {
			// 				opacity: 0;
			// 				height: 10px;
			// 				width: 10px;
			// 				border: none;
			// 			}
			// 			&:hover::-moz-range-thumb {
			// 				opacity: 1;
			// 				height: 10px;
			// 				width: 10px;
			// 				border-radius: 50%;
			// 				background-color: var(--colorM);
			// 				margin-top: -2.5px;
			// 				position: relative;
			// 			}
			// 			&::-moz-range-track {
			// 				height: 5px;
			// 				background-color: var(--colorMD);
			// 				border-radius: 5px;
			// 			}
			// 			&::-moz-range-progress {
			// 				height: 5px;
			// 				background-color: var(--colorM);
			// 				border-radius: 5px;
			// 			}
			// 			&:hover::-moz-range-progress {
			// 				height: 5px;
			// 				background-color: var(--colorM);
			// 				border-radius: 5px;
			// 			}
			// 		}
			// 		.volumeBar {
			// 			--volPercent: 50%;
			// 			-webkit-appearance: none;
			// 			position: relative;
			// 			@include progressBar;

			// 			&::-ms-thumb {
			// 				opacity: 0;
			// 				height: 10px;
			// 				width: 10px;
			// 				border: none;
			// 			}
			// 			&:hover::-ms-thumb {
			// 				opacity: 1;
			// 				height: 10px;
			// 				width: 10px;
			// 				border-radius: 50%;
			// 				background-color: var(--colorM);
			// 				margin-top: -2.5px;
			// 				position: relative;
			// 				// margin-left: var(--mlThumb) ;
			// 			}
			// 			&::-ms-track {
			// 				height: 5px;
			// 				background-color: var(--colorMD);
			// 				border-radius: 5px;
			// 			}
			// 			&::-ms-fill-lower {
			// 				height: 5px;
			// 				background-color: var(--colorM);
			// 				border-radius: 5px;
			// 			}
			// 			&:hover::-ms-fill-lower {
			// 				height: 5px;
			// 				background-color: var(--colorM);
			// 				border-radius: 5px;
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
	.audioPlayer {
		.player{
			.tracksContainer{
				
				.trackItem{
					
				}
				.trackSelectButton{
					font-size: 11px;
					width: 80%;
					text-align: start;
				}
			}
			.playerContainer{
				width: 240px;

				.progressContainer{
					width: 150px;
				}
			}
				
		}
	}
}
@media (max-width: 319px) {
}