.section6 {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;

	.sectionHeader {
		margin-bottom: 50px;
		align-self: center;
	}
	.cardContainer {
		display: grid;
		position: relative;
		grid-template-columns: [start] 1fr [midStart] 1fr [lastStart] 1fr [end];
		grid-template-rows: [start]1fr [rowEnd] 1fr[end];

		div:nth-child(1),
		div:nth-child(4) {
			justify-self: start;
		}
		div:nth-child(2),
		div:nth-child(5) {
			justify-self: center;
		}
		div:nth-child(3),
		div:nth-child(6) {
			justify-self: end;
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
	.section6 {
		.cardContainer {
			align-self: center;
			justify-content: center;
			align-items: center;
			display: grid;
			position: relative;
			grid-template-columns: [start] 1fr [midStart] 1fr [end];
			grid-template-rows: [start]1fr [rowEnd] 1fr[end];
			width: 300px;
			div {
				overflow: hidden;
			}
		}
	}
}
@media (max-width: 575px) {
	.section6 {
		align-self: center;
		justify-content: center;
		align-items: center;
		.cardContainer {
			display: grid;
			position: relative;
			grid-template-columns: [start] 1fr [end];
			grid-template-rows: [start]1fr [end];
			width: 240px;
			div:nth-child(1),
			div:nth-child(2),
			div:nth-child(3),
			div:nth-child(4),
			div:nth-child(5),
			div:nth-child(6) {
				justify-self: start;
				margin: 0 0 0 20px;
			}
		}
	}
}
@media (max-width: 319px) {
}
