.section12 {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;
	min-height: 300px;

	.infoContainer {
		display: flex;
		position: relative;
		flex-direction: column;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;
		font-family: var(--fontM);
		font-weight: 500;
		font-size: 45px;
		line-height: 1.3;

		.innerText1 {
			display: flex;
			flex-wrap: wrap;
			max-width: 500px;
			.word {
				display: flex;
				flex-direction: row;
				overflow: hidden;
			}
		}
		.innerText2 {
			font-weight: 700;
			font-size: 118px;
			.telLink {
				text-decoration: none;
				color: var(--colorM);
			}
		}
	}
}

@media (max-width: 1199px) {
	.section12 {
		.infoContainer {
			.innerText1 {
				font-size: 28px;
			}
			.innerText2 {
				font-size: 73px;
			}
		}
	}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
	.section12 {
		.infoContainer {
			.innerText1 {
				font-size: 22px;
			}
			.innerText2 {
				font-size: 45px;
			}
		}
	}
}
@media (max-width: 319px) {
	.section12 {
		.infoContainer {
			.innerText1 {
				font-size: 17px;
			}
			.innerText2 {
				font-size: 28px;
			}
		}
	}
}
