.stickySectionWrapper {
	display: flex;
	position: relative;
	justify-content: center;
	.stickySectionlContent {
		display: flex;
		position: sticky;
		flex-direction: column;
		align-items: center;
		top: 0;
		height: 100vh; //размер высоты кадра
		width: 100vw;
		overflow: hidden;

		.bgWrap {
			position: absolute;
			height: 100vh; //размер высоты картинки
			width: 100vw;
			top: 0;
			overflow: hidden;
			z-index: -1;
			background-color: var(--colorBg);
		}
		.content {
			display: flex;
			flex-direction: column;
			position: relative;
			align-items: center; //выравнивание всех кадров по горизонтали по центру
			margin: 0 auto; //отступы по краям всех кадров слева/справа авто
			max-width: 1300px; // максимальная ширина всех кадров

			.frame1 {
				display: flex;
				height: 100vh;
				align-items: flex-start;

				.frameContent {
					display: flex;
					flex-direction: column;
					justify-content: center;

					.sectionHeader {
						margin-bottom: 100px;
						margin-top: 100px;
					}
					.cardContainer {
						display: flex;
						justify-content: space-between;
						gap: 14px;
						border-radius: 20px;
						background-color: transparent;
						padding: 10px;
						overflow: hidden;

						.card1 {
							transform: translateX(-115%);
						}
						.card2 {
							transform: translateX(-225%);
						}
						.card3 {
							transform: translateX(-340%);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 990px;
			}
		}
	}
}
@media (max-width: 991px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				.sectionHeader {
				}
				.cardContainer {
					flex-direction: column;
					gap: 50px;
					width: 760px;

					.card1 {
						transform: translateY(0%);
					}
					.card2 {
						transform: translateY(-105%);
					}
					.card3 {
						transform: translateY(-210%);
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				.sectionHeader {
				}
				.cardContainer {
					width: 570px;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				.sectionHeader {
				}
				.cardContainer {
					width: 300px;
				}
			}
		}
	}
}
@media (max-width: 319px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				.sectionHeader {
				}
				.cardContainer {
					width: 280px;
				}
			}
		}
	}
}
