.section11 {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: stretch;
	min-height: 800px;

	.sectionHeader {
		margin-bottom: 100px;
		align-self: center;
	}
	.tabsContainer {
		display: flex;
		position: relative;
		flex-direction: column;
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
	.section11 {
		align-items: center;
	}
}
@media (max-width: 575px) {
}
@media (max-width: 319px) {
}
