.accordionContainer {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-bottom: 10px;

	.accordionTitleContainer {
		display: flex;
		max-width: 400px;
		justify-content: space-between;

		.arrowContainer {
			margin-top: 5px;
			display: flex;
			transform-origin: center center;
			width: 16px;
			height: 16px;
		}

		.accordionTitle {
			color: var(--colorMD);
			font-family: var(--fontM);
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			line-height: 1.3;
			font-weight: 900;
			font-size: 22px;
			cursor: pointer;
			user-select: none;
			margin-bottom: 20px;
		}
	}
	.accordionTextContainer {
		display: flex;
		position: relative;
		flex-direction: column;
		overflow: hidden;
		max-width: 360px;
		font-family: var(--fontM);
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;
		line-height: 1.3;
		font-weight: 400;
		font-size: 17px;

		.accordionContentText {
			margin-bottom: 20px;
		}
		.accordionContentDarkText {
			color: var(--colorMD);
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 319px) {
	.accordionContainer {
		.accordionTitleContainer {
			.accordionTitle {
				font-size: 11px;
				font-weight: 600;
			}
		}
		.accordionTextContainer {
			font-size: 11px;
			font-weight: 400;
		}
	}
}
