.tabComponent {
	display: grid;
	grid-template-columns: [start] 350px [gapCol] 1px [tabContentStart] 2fr [end];
	grid-template-rows: 100%;
	position: relative;
	.tabLinks {
		grid-column: start/gapCol;
		display: flex;
		flex-direction: column;
		position: relative;
		// border: 10px insert #e8e8e8;
		border-right: 1px solid #e8e8e8;

		.tab {
			list-style: none;
			position: relative;
			margin-bottom: 20px;
			margin: 0 0 40px 0;
			padding: 0 80px 0 0;
			width: 350px;

			.tabLink {
				cursor: pointer;
				user-select: none;
				background: none;
				border: none;
				text-align: left;
				// border-right: 1px solid #e8e8e8;
				margin: 0 0px 0 0;

				.tabTitle {
					font-size: 22px;
					line-height: 1.3;
					color: var(--colorMD);
					font-weight: 500;
					font-family: var(--fontM);
					white-space: pre-wrap;
					word-wrap: break-word;
					word-break: break-word;
				}
			}
			.underline {
				position: absolute;
				bottom: -45px;
				right: -2px;
				height: 120px;
				width: 5px;
				background-color: var(--colorM);
				transform-origin: center top;
			}
		}
	}
	.tabContent {
		display: flex;
		flex-direction: column;
		grid-column: tabContentStart/end;

		font-family: var(--fontM);
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;
		line-height: 1.3;
		font-weight: 400;

		transform-origin: left;
		width: 400px;
		margin: 0 0 0 100px;

		.tabContentTitle {
			font-size: 28px;
			font-weight: 400;
			margin-bottom: 40px;
		}
		.tabContentText {
			font-size: 17px;
			margin-bottom: 40px;
		}
		.tabContentDarkText {
			font-size: 17px;
			color: var(--colorMD);
		}
	}
}

@media (max-width: 1199px) {
	.tabComponent {
		.tabLinks {
			.tab {
				.tabLink {
				}
				.underline {
					bottom: -40px;
					right: 0px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.tabComponent {
		.tabLinks {
			.tab {
			}
		}
		.tabContent {
			margin: 0 0 0 60px;
			max-width: 300px;
		}
	}
}
@media (max-width: 767px) {
	.tabComponent {
		grid-template-columns: [start] 300px [gapCol] 1px [tabContentStart] 2fr [end];
		.tabLinks {
			.tab {
				margin: 0 0 40px 0;
				padding: 0 20px 0 0;
				max-width: 300px;
			}
		}
		.tabContent {
			margin: 0 0 0 20px;
			max-width: 300px;
		}
	}
}
@media (max-width: 575px) {
}
@media (max-width: 319px) {
}
