@mixin textStyle {
	line-height: 1.3;
	font-weight: 400;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	font-family: var(--fontM);
}
.infoBlock {
	display: flex;
	position: relative;
	.infoBlockContainer {
		display: flex;
		flex-direction: column;
		.infoHeader {
			font-size: 28px;
			color: var(--colorMD);
			margin-bottom: 44px;
			@include textStyle();
		}
		.infoText {
			font-size: 28px;
			@include textStyle();
		}
	}
}

@media (max-width: 1199px) {
	.infoBlock {
		.infoBlockContainer {
			.infoHeader {
				font-size: 17px;
				margin-bottom: 28px;
			}
			.infoText {
				font-size: 17px;
			}
		}
	}
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
	.infoBlock {
		.infoBlockContainer {
			.infoHeader {
				font-size: 11px;
				margin-bottom: 17px;
			}
			.infoText {
				font-size: 11px;
			}
		}
	}
}
