@mixin fontStyle {
	font-size: 17px;
	line-height: 1.3;
	font-weight: 500;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	font-family: var(--fontM);
}

.cardBlock {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	width: 350px;
	height: 400px;
	background-color: var(--colorC);
	cursor: pointer;
	.cardContainer {
		display: flex;
		flex-direction: column;
		position: relative;
		padding: 40px;
		.cardHeader {
			@include fontStyle();
			font-size: 28px;
			font-weight: 900;
			margin-bottom: 26px;
		}
		.cardContent {
			display: flex;
			position: relative;
			flex-direction: column;
			.cardText {
				@include fontStyle();
				margin-bottom: 26px;
			}
			.cardDarkText {
				@include fontStyle();
				color: var(--colorMD);
				min-height: 148px;
			}
		}
	}
}

@media (max-width: 1199px) {
	.cardBlock {
		width: 280px;
		height: 100%;
		.cardContainer {
			padding: 25px;
			.cardContent {
				.cardDarkText {
					min-height: 176px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.cardBlock {
		width: 100%;
		.cardContainer {
			max-width: 767px;
			padding: 25px;
			.cardContent {
				.cardDarkText {
					min-height: unset;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.cardBlock {
		.cardContainer {
			max-width: 574px;
			padding: 25px;
			.cardContent {
				.cardDarkText {
					min-height: unset;
				}
			}
		}
	}
}
@media (max-width: 575px) {
	.cardBlock {
		.cardContainer {
			.cardHeader {
				font-size: 17px;
				margin-bottom: 10px;
			}
			.cardContent {
				.cardText {
					font-size: 11px;
					margin-bottom: 10px;
				}
				.cardDarkText {
					font-size: 11px;
				}
			}
		}
	}
}
