.phaseCardBlock {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	max-width: 880px;

	.phaseCardContainer {
		display: flex;
		flex-direction: column;
		position: relative;

		.phaseCardHeader {
			font-size: 22px;
			line-height: 1.3;
			font-family: var(--fontM);
			color: var(--colorMD);
			font-weight: 600;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			margin-bottom: 20px;
		}
		.listContainer {
			.listItem {
				font-size: 17px;
				line-height: 1.3;
				color: var(--colorC);
				font-family: var(--fontM);
				font-weight: 400;
				white-space: pre-wrap;
				word-wrap: break-word;
				word-break: break-word;
				/* list-style: none; */
			}
		}
		.note {
			font-size: 11px;
			line-height: 1.3;
			font-family: var(--fontM);
			color: var(--colorC);
			font-weight: 400;
			white-space: pre-wrap;
			word-wrap: break-word;
			word-break: break-word;
			margin-top: 40px;
		}
	}
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {
}
@media (max-width: 319px) {
	.phaseCardBlock {
		.phaseCardContainer {
			width: 200px;
			.phaseCardHeader {
				font-size: 17px;
			}		
			.listContainer {			
				.listItem {
					font-size: 11px;					
				}
			}
			.note {
				font-size: 11px;
			}
		}
	}
}