.button {
    display: flex;
    position: relative;
    border: none;
    font-size: 17px;
    background-color: var(--colorB);
    padding: 12px;
    .buttonText {
        color: #000000;
        font-family: var(--fontM);
        text-decoration: none;
    }
}


/* xl (>=1200) */

@media (min-width: 1400px) {}

@media (min-width: 1199px) and (max-width: 1399px) {}


/* lg (>=992 и <=1199) */

@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* md (>=768 и <=991) */

@media (min-width: 768px) and (max-width: 991px) {
    
}


/* sm (>=576 и <=767) */

@media (min-width: 576px) and (max-width: 767px) {
    
}


/* xs (<=543px) */

@media (min-width: 0px) and (max-width: 575px) {
    .button {
        font-size: 11px;
    }
}