.stickySectionWrapper {
	display: flex;
	position: relative;
	justify-content: center;
	.stickySectionlContent {
		display: flex;
		position: sticky;
		flex-direction: column;
		align-items: center;
		top: 0;
		height: 100vh; //размер высоты кадра
		width: 100vw;
		overflow: hidden;

		.bgWrap {
			position: absolute;
			height: 100vh; //размер высоты картинки
			width: 100vw;
			top: 0;
			overflow: hidden;
			z-index: -1;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			position: relative;
			align-items: center; //выравнивание всех кадров по горизонтали по центру
			margin: 0 auto; //отступы по краям всех кадров слева/справа авто
			max-width: 1300px; // максимальная ширина всех кадров

			.frame1 {
				display: flex;
				align-self: flex-start; //выравнивание первого кадра к левому краю
				height: 100vh;
				.frameContent {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
			.frame2 {
				display: flex;
				height: 100vh;
				align-items: center;
				.frameContent {
					display: flex;
					flex-direction: column;
				}
			}
			.frame3 {
				display: flex;
				height: 100vh;
				align-items: center;
				.frameContent {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 990px;

				// .frame1 {
				// 	.frameContent {
				// 	}
				// }
				// .frame2 {
				// 	.frameContent {
				// 	}
				// }
				// .frame3 {
				// 	.frameContent {
				// 	}
				// }
			}
		}
	}
}
@media (max-width: 991px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 766px;
			}
		}
	}
}
@media (max-width: 767px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 574px;
			}
		}
	}
}
@media (max-width: 575px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 319px;
			}
		}
	}
}
@media (max-width: 319px) {
	.stickySectionWrapper {
		.stickySectionlContent {
			.content {
				max-width: 280px;
			}
		}
	}

}
