@mixin textStyle {
	font-weight: 400;
	line-height: 1.3;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
	font-family: var(--fontM);
}
.sectionHeader {
	position: relative;
	.headerContainerH1 {
		display: flex;
		flex-direction: column;
		.textWithH1 {
			font-size: 28px;
			@include textStyle();
		}
		.headerH1Wrapper {
			margin-top: 10px;
			.headerH1 {
				font-size: 75px;
				@include textStyle();
				max-width: 900px;
				padding: 15px 0 15px 0;
				font-weight: 700;
				overflow: hidden;
				.word {
					display: flex;
					flex-direction: row;
					width: 100%;
					overflow: hidden;
				}
			}
		}
	}
	.headerContainerH2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		.textWithH2 {
			font-size: 17px;
			width: 600px;
			text-align: center;
			@include textStyle();
			color: var(--colorMD);

		}
		.headerH2Wrapper {
			margin-bottom: 20px;
			.headerH2 {
				text-align: center;
				font-size: 45px;
				@include textStyle();
				font-weight: 700;
				overflow: hidden;
			}
		}
	}
}

@media (max-width: 1199px) {
	.sectionHeader {
		.headerContainerH1 {
			.textWithH1 {
				font-size: 22px;
			}
			.headerH1Wrapper {
				.headerH1 {
					font-size: 45px;
				}
			}
		}
		.headerContainerH2 {
			.textWithH2 {
				font-size: 17px;
			}
			.headerH2Wrapper {
				margin-bottom: 20px;
				.headerH2 {
					font-size: 28px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.sectionHeader {
		.headerContainerH1 {
			.textWithH1 {
				font-size: 17px;
			}
			.headerH1Wrapper {
				margin-top: 8px;
			}
		}
	}
}
@media (max-width: 767px) {
	.sectionHeader {
		.headerContainerH2 {
			.headerH2Wrapper {
				margin-bottom: 14px;
			}
		}
	}
}
@media (max-width: 575px) {
	.sectionHeader {
		.headerContainerH1 {
			.textWithH1 {
				font-size: 11px;
			}
			.headerH1Wrapper {
				margin-top: 5px;
				.headerH1 {
					font-size: 24px;
				}
			}
		}
		.headerContainerH2 {
			.textWithH2 {
				font-size: 11px;
				width: 300px;
			}
			.headerH2Wrapper {
				margin-bottom: 10px;
				.headerH2 {
					font-size: 17px;
				}
			}
		}
	}
}
@media (max-width: 319px) {
	.sectionHeader {
		.headerContainerH1 {
			.headerH1Wrapper {
				.headerH1 {
					font-size: 22px;
				}
			}
		}
	}
}
